<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Details</title>
<th:block th:include="head :: head"/>
</head>
<body id="samples">
	<div th:replace="menu :: menu"></div>

	<div id="content" class="container">

		<div>
			<h2>Number of publications in the public collection</h2>
			<p>
				<span th:text="${publicationCount}">publicationCount</span>
			</p>
		</div>
	</div>
</body>
<th:block th:include="footer :: footer"/>
</html>