<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <th:block th:include="head :: head"/>
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>

	<div id="content" class="container">
		<h1>Imported activities</h1>
		<div class="row">
			<div class="col-lg-10 mt-5 mb-5">
				<table id="posts" class="table table-bordered table-responsive-sm">
					<thead>
						<tr>
							<th>IRI</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="activityIri : ${activityIris}">
							<td th:text="${activityIri}">iri</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<th:block th:include="footer :: footer"/>
</html>