<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <!--/*/ <th:block th:include="head :: head"/> /*/-->
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>
<div id="content" class="container">
	<h1>Import Publications from CSV file.</h1>

	<section class="my-5">
		<div class="container">
			<div class="row">
				<div class="text fw-light fs-6 lh-1">
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<form method="post" th:action="@{/importCsvFile}"
						enctype="multipart/form-data">
						
						<label class="form-label" for="customFile">Please upload the csv file that contains the LOA Publications</label>
						<input type="file" name="file"  class="form-control" id="customFile" />
						
						</br>
						<button type="submit" class="btn btn-primary">Import Publications</button>						
					</form>
				</div>
			</div>
		</div>
	</section>
	<p>
	<h2>The csv should heave the following headlines/columns:</h2>
	<ul class="list-group list-group-light">
		<li class="list-group-item">PublicationLoa_version</li>
		<li class="list-group-item">PublicationLoa_copyrightNotice</li>
		<li class="list-group-item">PublicationLoa_creativeWorkStatus</li>
		<li class="list-group-item">PublicationLoa_dateCreated</li>
		<li class="list-group-item">PublicationLoa_dateModified</li>
		<li class="list-group-item">PublicationLoa_license</li>
		<li class="list-group-item">PublicationLoa_keywords</li>
		<li class="list-group-item">PublicationLoa_identifier</li>
		<li class="list-group-item">PublicationLoa_description</li>
		<li class="list-group-item">OrgansationLoa_legalName</li>
		<li class="list-group-item">OrgansationLoa_name</li>
		<li class="list-group-item">OrgansationLoa_url</li>
		<li class="list-group-item">PlaceLoa_latitude</li>
		<li class="list-group-item">PlaceLoa_longitude</li>
		<li class="list-group-item">PostalAddressLoa_postalCode</li>
		<li class="list-group-item">PostalAddressLoa_addressLocality</li>
		<li class="list-group-item">PostalAddressLoa_addressRegion</li>
		<li class="list-group-item">PostalAddressLoa_addressCountry</li>
		<li class="list-group-item">PostalAddressLoa_streetAddress</li>
		<li class="list-group-item">ContactPointLoa_email</li>
		<li class="list-group-item">ContactPointLoa_name</li>
		<li class="list-group-item">ContactPointLoa_telephone</li>
	</ul>
</body>
<th:block th:include="footer :: footer"/>
</html>