<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Object Details</title>
<th:block th:include="head :: head" />
</head>
<body id="object">
	<div th:replace="menu :: menu"></div>
	<div class="container">
		<div class="row">
			<table id="rdfObject" class="table table-striped">
				<thead>
					<tr>
						<th width="70%">Property</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="tuple : ${tuples}">
						<td><a th:href="${tuple.predicate}" th:text="${tuple.predicate}" target="_blank" /></td>
						<td>
							<div th:if="${tuple.objectIsIri}">
								<div th:if="${tuple.rdfPubContext}">
									<a th:href="@{'/user/outbox/' + ${tuple.encodedObjectUrl}}" th:text="${tuple.object}" target="_blank" />
								</div>
								<div th:unless="${tuple.rdfPubContext}">
									<a th:href="${tuple.object}" th:text="${tuple.object}" target="_blank" />
								</div>
							</div>
							<div th:unless="${tuple.objectIsIri}">[[${tuple.object}]]</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<th:block th:include="footer :: footer" />
</html>