<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <th:block th:include="head :: head"/>
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
POSTED! 
			<span th:text="${activity}" th:remove="tag">title</span>       
		</div>
    </div>
</div>
</body>
<th:block th:include="footer :: footer"/>
</html>