<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>rdf-pub error</title>
    <th:block th:include="head :: head"/>
</head>
<body id="error">
<div th:replace="menu :: menu"></div>

<div id="content" class="container">

        <h2>Error</h2>
        
        <p>
        Message:
        <span th:text="${ex.message}">Subject</span>
        </p>
        
        <p>
        Status:
        <span th:text="${ex.statusText}">Subject</span>
        </p>
        
        <p>
        HTTP Status: <span th:text="${ex.rawStatusCode}">Subject</span>
        </p>
        
        Body:
        <p th:text="${ex.responseBodyAsString}">Subject</p>

</div>
</body>
<th:block th:include="footer :: footer"/>
</html>