<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>rdf-pub admin app</title>
    <th:block th:include="head :: head"/>
</head>
<body id="home">
<div th:replace="menu :: menu"></div>

<div id="content" class="container">
    <h2>Welcome to Linked Open Actors (LOA) Appliaction</h2>

    <div th:unless="${#authorization.expression('isAuthenticated()')}" class="text fw-light fs-6 lh-1">
    </div>

    <div th:if="${#authorization.expression('isAuthenticated()')}" class="text fw-light fs-6 lh-1">
        <p>Welcome !</p>        
        <p>You have successfully authenticated against our authentication server.</p>
        <p>Your User Id is: <span th:text="${#authentication.principal.name}">userId</span></p>
        <p><a th:href="@{/user/profile}">Visit your user profile</a></p>
        <p><a th:href="@{/user/outbox}">Show activities</a></p>
    </div>

    <form th:unless="${#authorization.expression('isAuthenticated()')}" method="get" 
                   th:action="@{/oauth2/authorization/loa-application}">                   
        <button id="login-button" class="btn btn-primary" type="submit">Sign In</button>
    </form>

</div>
</body>
<th:block th:include="footer :: footer"/>
</html>