<html xmlns:th="http://www.thymeleaf.org">

<body id="samples">
	<nav class="navbar navbar-expand-lg navbar-light bg-light"
		th:fragment="menu">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Collections </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/user/outbox}">Outbox</a></li>
							<li><a class="dropdown-item" th:href="@{/user/inbox}">Inbox</a></li>
							<li><a class="dropdown-item" th:href="@{/user/public}">Public</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/importCsv}">CSV Import</a></li>
					
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/user/profile}">Oauth2</a></li>
							<li><a class="dropdown-item" th:href="@{/user/ap-profile}">Activity-Pub</a></li>
							<li><a class="dropdown-item" th:href="@{/user/rdfpub-profile}">Rdf-Pub-Server</a></li>
						</ul></li>
					
<!-- 					<li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li> -->
					
					
					<li class="nav-item"><a class="nav-link"
						th:href="@{/newActivityForm}">Post it</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false"> Admin </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" th:href="@{/admin/dump}">dump</a></li>
						</ul></li>
				</ul>
<!-- 				<form class="d-flex" method="get" th:action="@{/logout}" -->
<!-- 					th:if="${#authorization.expression('isAuthenticated()')}"> -->
<!-- 					<button id="logout-button" type="submit" class="btn btn-danger">Logout</button> -->
<!-- 				</form> -->
			</div>
		</div>
	</nav>
</body>
</html>