<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Object Details Tree</title>	
    <link th:rel="stylesheet" th:href="@{/assets/jquery-treetable/jquery.treetable.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/jquery-treetable/jquery.treetable.theme.default.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css} "/>
    <th:block th:include="head :: head"/>
</head>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/jquery-treetable/jquery.treetable.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


<script type="text/javascript">
var id = '[[${identifier}]]';
var collectionName = '[[${collectionName}]]';
    $(document).ready(function () {
        $.ajax({
            "type": 'get',
            "url": '/tree/' + collectionName + '/' + id,
            "dataType": "json",
            "success": function (data) {
                $.each(data, function (idx, rdfTuple) {
                	rows = "<tr data-tt-id=\"" + rdfTuple.nodeId + "\" data-tt-parent-id=\"" + rdfTuple.parent + "\">";
                	rows = rows + "<td>" + rdfTuple.predicate + "</td>";
                	if(rdfTuple.objectIsIri) {
                		if(rdfTuple.rdfPubContext) {                			
                			rows = rows + "<td><a href=\"/user/outbox/"+rdfTuple.encodedObjectUrl+"\" target=\"_blank\" />"+rdfTuple.object+"</a></td>";
                		} else {                			
                			rows = rows + "<td><a href=\""+rdfTuple.object+"\" target=\"_blank\" />"+rdfTuple.object+"</a></td>";
                		}
                	} else {
                		rows = rows + "<td>" + rdfTuple.object + "</td>";
                	}
                	rows = rows + "</tr>";
                    $("#treeTable").append(rows);
                });
                $("#treeTable").treetable({
                    expandable: true,
                    initialState: "expanded",
                    clickableNodeNames: true,
                    indent: 30
                });
            }
        });
    });
</script>
<body>

<div th:replace="menu :: menu"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">

            <table id="treeTable" class="table">
                <thead>
                <tr>
                    <th>Predicate</th>
                    <th>Object</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>

</div>


</body>
</html>