<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
    <th:block th:include="head :: head"/>
</head>
<body id="samples">
<div th:replace="menu :: menu"></div>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
        <h1 th:text="${collectionName}"></h1>
            <table id="posts" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
	                <th>Type</th>
	                <th>Name</th>
	                <th>Subject</th>
	                <th>Published</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts.page}">
     				<td>
					    <a th:href="${post.types}" th:text="${post.types}" target="_blank" />
					</td>
                    <td th:text="${post.name}">name</td>
     				<td>
					    <!--<a th:href="@{${moreUrl} + '/' + ${post.subject}}" th:text="${post.subject}" target="_blank" />-->
					    <a th:href="@{${resolveUrl}+${post.subject}}" th:text="${post.subject}" target="_blank" />
					    	
					</td>
                    <td th:text="${post.published}">published</td>
                </tr>
                
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${posts.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!posts.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${moreUrl} + '?pageNumber=' + ${posts.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${posts.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == posts.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{${moreUrl} + '?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!posts.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${moreUrl} + '?pageNumber=' + ${posts.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
</body>
<th:block th:include="footer :: footer"/>
</html>